extends partials/layout.pug

block content
  .polls
    .topRow
      span Polls
      if user 
        a(href="/newpoll") New Poll
    .list
      each poll in pollsList
        .votingpoll
          a(href="/poll/"+poll._id).openPoll= poll.title