html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CUSTOM CSS */

:root {
	--light-blue: #42c8f4;
}

body {
  font-family: 'Inconsolata', monospace;
}

/* Navigation */

.nav {
	background: var(--light-blue);
	font-size: 24px;
	display: grid;
	grid-template-columns: 1fr auto auto;
	grid-auto-flow: column;
	grid-gap: 20px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.nav li.logo {
	color: white;
	font-weight: 700;
	letter-spacing: 5px;
}

.nav li {
	padding: 30px;
}

.nav li a {
	text-decoration: none;
	color: #fff;
	transition: all 0.3s;
	border-top: 4px solid var(--light-blue);
	border-bottom: 4px solid var(--light-blue);
	padding: 20px 0;
}

.nav li a:hover {
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	color: #fff;
	padding: 6px 0;
}

/* Content */

.container {
	display: grid;
	justify-content: center;
}


/* Form */

.userForm {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
}

form {
	margin-top: 50px;
	background: white;
	width: 40%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
	position: relative;
	color: #333;
	border-radius: 10px;
}

form header {
	background: var(--light-blue);
	padding: 30px 20px;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 10px 10px 0 0;
}

form label {
	margin-left: 20px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 5px;
	position: relative;
}

form label span {
	color: var(--light-blue);
	font-size: 2em;
	position: absolute;
	left: 2.3em;
	top: -10px;
}

form input {
	display: block;
	width: 78%;
	font-family: inherit;
	margin-left: 20px;
	padding: 5px 20px;
	font-size: 1em;
	border-radius: 3px;
	outline: none;
	border: 1px solid #cccccc;
}

form .help {
	margin-left: 20px;
	font-size: 0.8em;
	color: #777777;
}

form button {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: inherit;
	color: white;
	background: var(--light-blue);
	outline: none;
	border: none;
	padding: 5px 15px;
	font-size: 1.3em;
	font-weight: 400;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.7);
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

form button:hover {
	background: #60cef2;
}