<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Voting App
    link( rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata:400,700")
    style
      include ./../../styles/styles.css
    script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
  body
    ul.nav
      li.logo Voting App
      li 
        a(href="/") Home
      if user
        li
          a(href="/mypolls") My Polls
      li
        if !user
          a(href="/login") Login
        else 
          a(href="/logout") Logout
    block content